.article_box {
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto 20px auto;
  width: 50%;
}

.title {
  border-bottom: 1px solid black;
  padding: 0px 0px 8px 0px;
}

.save_article {
  margin: 10px 0px 0px 0px;
}

a:hover {
  text-decoration: none;
}
